<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="assets/images/ico/favicon.png" />
    <link rel="apple-touch-icon-precomposed"
          sizes="144x144"
          href="assets/images/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
          sizes="114x114"
          href="assets/images/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
          sizes="72x72"
          href="assets/images/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed"
          href="assets/images/ico/apple-touch-icon-57-precomposed.png" />

    <link rel="stylesheet"
          type="text/css"
          href="~/Content/assets/Styles/simplegrid.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/assets/Styles/style.css?v20240425" />
    <link rel="stylesheet" href="~/Content/assets/Styles/aos.css" />

    <link rel="stylesheet"
          type="text/css"
          href="assets/Styles/jquery.nstSlider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/Styles/dropp.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/assets/Styles/navigation.css?v20240404" /> 
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/assets/Styles/responsive.css?v20240425" />

    <link rel="stylesheet"
          type="text/css"
          href="~/Content/assets/Styles/style-custom.css?v20240510" />

    <script type="text/javascript"
            async=""
            src="https://analytics.tiktok.com/i18n/pixel/static/identify_45dd5971.js"></script>
    <script type="text/javascript"
            async=""
            src="https://analytics.tiktok.com/i18n/pixel/static/main.MTBlZWM4ZGM2NA.js"
            data-id="CHI5DSBC77U1H95PTDPG"></script>
    <script async=""
            src="//cdnt.netcoresmartech.com/webactivity/ADGMOT35CHFLVDHBJNIG50K969C890F8RLI78ASJBM80G1KEJVA0.js"></script>
    <script async=""
            src="//cdnt.netcoresmartech.com/webp/ADGMOT35CHFLVDHBJNIG50K969C890F8RLI78ASJBM80G1KEJVA0_webp.js"></script>
    <script async=""
            src="//cdnt.netcoresmartech.com/webactivity/ADGMOT35CHFLVDHBJNIG50K969C890F8RLI78ASJBM80G1KEJVA0.js"></script>
    <script type="text/javascript"
            async=""
            src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script>
    <script type="text/javascript"
            integrity="sha384-QQzLtB74EgBbntDs4qfdADKdpgjUX5KWFrvlBU4HdE2xvvAZsXDc9lm7wuXPtOmb"
            crossorigin="anonymous"
            async=""
            src="https://cdn.amplitude.com/libs/analytics-browser-gtm-2.9.3-min.js.gz"></script>
    <script type="text/javascript"
            async=""
            src="https://analytics.tiktok.com/i18n/pixel/events.js?sdkid=CHI5DSBC77U1H95PTDPG&amp;lib=ttq"></script>
    <script type="text/javascript"
            async=""
            src="https://cdn.mxpnl.com/libs/mixpanel-js-wrapper.min.js"></script>
    <script type="text/javascript"
            async=""
            src="https://cdn.amplitude.com/libs/analytics-browser-gtm-wrapper-3.8.0.js.br"></script>
    <script type="text/javascript"
            async=""
            src="https://static.hotjar.com/c/hotjar-5012240.js?sv=7"></script>
    <script type="text/javascript"
            async=""
            src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript"
            async=""
            src="https://www.googletagmanager.com/gtag/destination?id=AW-613904699&amp;l=dataLayer&amp;cx=c&amp;gtm=45He4bk0v832751019za200"></script>
    <script type="text/javascript"
            async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-K64GDV3E6Q&amp;l=dataLayer&amp;cx=c&amp;gtm=45He4bk0v832751019za200"></script>
    <script async=""
            src="https://www.googletagmanager.com/gtm.js?id=GTM-KXKBWN6"></script>
    <script src="https://connect.facebook.net/signals/config/272229878322738?v=2.9.176&amp;r=stable&amp;domain=www.bonuslink.com.my&amp;hme=872f04a0547459b3285cb03b0d7a47bfde40628f4b386809918a621e2688602f&amp;ex_m=70%2C121%2C107%2C111%2C61%2C4%2C100%2C69%2C16%2C97%2C89%2C51%2C54%2C172%2C175%2C187%2C183%2C184%2C186%2C29%2C101%2C53%2C77%2C185%2C167%2C170%2C180%2C181%2C188%2C131%2C41%2C189%2C190%2C34%2C143%2C15%2C50%2C195%2C194%2C133%2C18%2C40%2C1%2C43%2C65%2C66%2C67%2C71%2C93%2C17%2C14%2C96%2C92%2C91%2C108%2C52%2C110%2C39%2C109%2C30%2C94%2C26%2C168%2C171%2C140%2C86%2C56%2C84%2C33%2C73%2C0%2C95%2C32%2C28%2C82%2C83%2C88%2C47%2C46%2C87%2C37%2C11%2C12%2C13%2C6%2C7%2C25%2C22%2C23%2C57%2C62%2C64%2C75%2C102%2C27%2C76%2C9%2C8%2C80%2C48%2C21%2C104%2C103%2C105%2C98%2C10%2C20%2C3%2C38%2C74%2C19%2C5%2C90%2C81%2C44%2C35%2C85%2C2%2C36%2C63%2C42%2C106%2C45%2C79%2C68%2C112%2C60%2C59%2C31%2C99%2C58%2C55%2C49%2C78%2C72%2C24%2C113%2C163%2C196%2C198%2C122%2C145%2C151%2C129%2C233%2C116%2C127%2C146%2C173%2C159%2C118%2C234%2C165%2C119%2C236%2C166%2C136%2C123%2C154%2C148%2C193%2C114%2C128"
            async=""></script>
    <script src="https://connect.facebook.net/signals/config/555597691737634?v=2.9.176&amp;r=stable&amp;domain=www.bonuslink.com.my&amp;hme=872f04a0547459b3285cb03b0d7a47bfde40628f4b386809918a621e2688602f&amp;ex_m=70%2C121%2C107%2C111%2C61%2C4%2C100%2C69%2C16%2C97%2C89%2C51%2C54%2C172%2C175%2C187%2C183%2C184%2C186%2C29%2C101%2C53%2C77%2C185%2C167%2C170%2C180%2C181%2C188%2C131%2C41%2C189%2C190%2C34%2C143%2C15%2C50%2C195%2C194%2C133%2C18%2C40%2C1%2C43%2C65%2C66%2C67%2C71%2C93%2C17%2C14%2C96%2C92%2C91%2C108%2C52%2C110%2C39%2C109%2C30%2C94%2C26%2C168%2C171%2C140%2C86%2C56%2C84%2C33%2C73%2C0%2C95%2C32%2C28%2C82%2C83%2C88%2C47%2C46%2C87%2C37%2C11%2C12%2C13%2C6%2C7%2C25%2C22%2C23%2C57%2C62%2C64%2C75%2C102%2C27%2C76%2C9%2C8%2C80%2C48%2C21%2C104%2C103%2C105%2C98%2C10%2C20%2C3%2C38%2C74%2C19%2C5%2C90%2C81%2C44%2C35%2C85%2C2%2C36%2C63%2C42%2C106%2C45%2C79%2C68%2C112%2C60%2C59%2C31%2C99%2C58%2C55%2C49%2C78%2C72%2C24%2C113"
            async=""></script>
    <script async=""
            src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript"
            src="~/Content/assets/Scripts/jquery.min.1.11.1.js"></script>
    <script type="text/javascript" src="~/Content/assets/Scripts/navigation.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/aos.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/script.js"></script>

    <!-- Remodal -->
    <link rel="stylesheet" href="~/Content/Styles/jquery.remodal.css?v20191001" />
    <script type="text/javascript" src="~/Content/Scripts/jquery.remodal.js"></script>

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/assets/Styles/magnific-popup.css?v20191001" />
    <script type="text/javascript"
            src="~/Content/assets/Scripts/jquery.magnific-popup.js"></script>
</head>
<body data-aos-easing="ease-in-out-sine"
      data-aos-duration="400"
      data-aos-delay="0"
      data-new-gr-c-s-check-loaded="14.1209.0"
      data-gr-ext-installed=""
      cz-shortcut-listen="true">
    <script type="text/javascript"
            src="https://js.boxx.ai/js_init/?smartech=true&amp;client_id=ADGMOT35CHFLVDHBJNIG50K969C890F8RLI78ASJBM80G1KEJVA0&amp;host=www.bonuslink.com.my&amp;asset=7087561226847a4bf36666020c8d59e8"></script>
    <header class="grid-full">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="grid">
                <div class="logo">
                    <a class="sublink" href="/EN/Home.aspx">
                        <img src="~/Content/assets/images/bl-logo-bonuslink.png" />
                    </a>
                </div>

                <!-- Search panel -->
                <div class="nav-search">
                    <div class="nav-search-button">
                        <i><img src="~/Content/assets/images/icon-search.png" /></i>
                    </div>
                    <form action="/EN/SiteSearch.aspx">
                        <span class="nav-search-close-button" tabindex="0">✕</span>
                        <span class="nav-search-close-button" tabindex="0">✕</span>
                        <div class="nav-search-inner">
                            <input type="search" name="q" placeholder="Search BonusLink" />
                            <input type="hidden" name="f" value="r" />
                        </div>
                    </form>
                </div>

                <div class="nav-icon">
                    <div id="pnlWishlistItemCount" class=""></div>
                    <a href="assets/ProductWishlist.aspx">
                        <img src="~/Content/assets/images/icon-wishlist-white.png" />
                    </a>
                </div>

                <div class="nav-icon">
                    <div id="pnlCheckoutItemCount" class=""></div>
                    <a href="~/Content/assets/ShoppingCart.aspx">
                        <img src="~/Content/assets/images/icon-cart-white.png" />
                    </a>
                </div>

                <div class="nav-toggle"></div>

                <div class="nav-menus-wrapper nav-menus-wrapper-right"
                     style="transition-property: none">
                    <span class="nav-menus-wrapper-close-button">✕</span>
                    <ul class="nav-menu member-menu align-to-right">
                        <li class="">
                            <!-- member panel -->
                            <a href="#">
                                <div class="nav-member">
                                    <div class="nav-member-button">Account</div>
                                </div>
                                <span class="submenu-indicator"><span class="submenu-indicator-chevron"></span></span>
                            </a>
                            <ul class="nav-dropdown nav-submenu"
                                style="right: auto; display: none">
                                <li class="nav-text member-login">Welcome !</li>
                                <li>
                                    <a href="assets//MemberLogin.aspx"
                                       id="linkLogin"
                                       class="footer">Member Login</a>
                                </li>
                                <li>
                                    <a href="/EN/UpdateProfile.aspx">Register Instant Card</a>
                                </li>
                                <li><a href="/EN/eStatement.aspx">e-Statement</a></li>
                                <li>
                                    <a href="/EN/CardReplacement.aspx">Card Replacement</a>
                                </li>
                                <li></li>
                                <li></li>
                                <div class="clear"></div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-overlay-panel"></div>
        </nav>
    </header>
    @RenderBody()
   
    <!--Footer-->
    <footer class="grid-full">
        <div class="grid copyright-container">
            <div class="col-1-3-l tab-col-1-1 mobile-col-1-1 bl-card">
                <!-- Edited by Idzuan 19/11/2021 -->
                <img src="~/Content/assets/Images/bl-card.png" />
                Copyright © 2002-2024 BonusKad Loyalty Sdn Bhd 199701022703
                (438200-T)<br />
                All rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/PrivacyNotice.aspx">Personal Data Protection Notice</a>
            </div>

            <div class="col-1-3-m tab-col-1-3 mobile-col-1-2 social">
                <!-- Edited by Idzuan 19/11/2021 -->
                Connect With Us
                <div class="clear"></div>
                <li>
                    <a href="https://www.facebook.com/BonusLink" target="_blank">
                        <img src="~/Content/assets/Images/icon-fb.png" />
                    </a>
                </li>
                <!--li><a href="https://twitter.com/bonuslink2u" target="_blank"><img src="/Images/icon-tw.png"></a></li-->
                <!-- Disabled by Idzuan 17/11/2021 -->
                <br />
                <li>
                    <a href="https://www.instagram.com/bonuslink/" target="_blank">
                        <img src="~/Content/assets/Images/icon-insta.png" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC95eZV86tysvrPIqJAfdSPQ"
                       target="_blank">
                        <img src="~/Content/assets/Images/icon-youtube.png" />
                    </a>
                </li>
            </div>

            <div class="col-1-3-r tab-col-2-3 mobile-col-1-2 appstore">
                <!-- Edited by Idzuan 19/11/2021 -->
                Download the <span>BLINK</span> App today!
                <!-- Edited by Idzuan 23/12/2021 -->
                <div class="clear"></div>
                <li>
                    <a href="https://itunes.apple.com/my/app/bonuslink-lifestyle-loyalty/id1114285544?mt=8"
                       target="_blank">
                        <img src="~/Content/assets/Images/icon-appstore.png" />
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=air.com.my.bonuslink"
                       target="_blank">
                        <img src="~/Content/assets/Images/icon-googleplay.png" />
                    </a>
                </li>
                <li>
                    <a href="https://appgallery.huawei.com/app/C104664709"
                       target="_blank">
                        <img src="~/Content/assets/Images/icon-huaweiappgallery.png" />
                    </a>
                </li>
                <!-- Added by Idzuan 17/11/2021 -->
            </div>
        </div>
    </footer>
   
    <script class="rs-file"
            src="~/Content/assets/Scripts/royalslider/jquery.royalslider.min.js"></script>
    <script type="text/javascript" id="" charset="">
        !(function (b, e, f, g, a, c, d) {
            b.fbq ||
                ((a = b.fbq =
                    function () {
                        a.callMethod
                            ? a.callMethod.apply(a, arguments)
                            : a.queue.push(arguments);
                    }),
                    b._fbq || (b._fbq = a),
                    (a.push = a),
                    (a.loaded = !0),
                    (a.version = "2.0"),
                    (a.queue = []),
                    (c = e.createElement(f)),
                    (c.async = !0),
                    (c.src = g),
                    (d = e.getElementsByTagName(f)[0]),
                    d.parentNode.insertBefore(c, d));
        })(
            window,
            document,
            "script",
            "https://connect.facebook.net/en_US/fbevents.js"
        );
        fbq("init", "272229878322738");
        fbq("set", "agent", "tmgoogletagmanager", "272229878322738");
        fbq("track", "PageView");
    </script>
 
    <script type="text/javascript" id="" charset="">
        !(function (d, g, e) {
            d.TiktokAnalyticsObject = e;
            var a = (d[e] = d[e] || []);
            a.methods =
                "page track identify instances debug on off once ready alias group enableCookie disableCookie".split(
                    " "
                );
            a.setAndDefer = function (b, c) {
                b[c] = function () {
                    b.push([c].concat(Array.prototype.slice.call(arguments, 0)));
                };
            };
            for (d = 0; d < a.methods.length; d++) a.setAndDefer(a, a.methods[d]);
            a.instance = function (b) {
                b = a._i[b] || [];
                for (var c = 0; c < a.methods.length; c++)
                    a.setAndDefer(b, a.methods[c]);
                return b;
            };
            a.load = function (b, c) {
                var f = "https://analytics.tiktok.com/i18n/pixel/events.js";
                a._i = a._i || {};
                a._i[b] = [];
                a._i[b]._u = f;
                a._t = a._t || {};
                a._t[b] = +new Date();
                a._o = a._o || {};
                a._o[b] = c || {};
                c = document.createElement("script");
                c.type = "text/javascript";
                c.async = !0;
                c.src = f + "?sdkid\x3d" + b + "\x26lib\x3d" + e;
                b = document.getElementsByTagName("script")[0];
                b.parentNode.insertBefore(c, b);
            };
            a.load("CHI5DSBC77U1H95PTDPG");
            a.page();
        })(window, document, "ttq");
    </script>
 
 
    <link class="rs-file"
          href="~/Content/assets/Styles/royalslider/skins/minimal-white/rs-minimal-white.css"
          rel="stylesheet" />

    <!-- Owl Stylesheets -->
    <link rel="stylesheet"
          href="~/Content/assets/Styles/owlcarousel/assets/owl.carousel.css" />
    <link rel="stylesheet"
          href="~/Content/assets/Styles/owlcarousel/assets/owl.theme.default.css" />
    <!-- javascript -->
    <script type="text/javascript"
            src="~/Content/assets/Scripts/owlcarousel/owl.carousel.js"></script>
    <script type="text/javascript"
            src="~/Content/assets/Scripts/owlcarousel/owl.rows.js"></script>
 
    <script type="text/javascript" src="~/Content/assets/Scripts/navigation.js"></script>
    <script type="text/javascript" src="~/Content/assets/Scripts/aos.js"></script>
    <script type="text/javascript" src="~/Content/assets/Scripts/script.js"></script>

 
   
</body>
 
</html>


